
nav{
  background-color: paleturquoise;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}


#transactions-list{
  background-color: rgb(172, 218, 129);
  list-style: none;
  display: flex;
  flex-direction: column;
}

#transactions-list li {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#list-heading{
  font-size: 20px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(187, 149, 212);
}

#new-input-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 3px rgb(99, 122, 65);
}

#new-transactions{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#test-date{
  width: 200px;
}

#show-component{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#show-section{
  width: 300px;
  border: 5px solid rgb(99, 122, 65);
  margin: 30px;
}
#transaction-details{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  font-size: large;
  margin: 20px;
}
#transaction-options{
  display: flex;
align-items: center;
justify-content: center;
justify-content: space-around;
  margin: 20px;
}

